@import './../../../assets/font/stylesheet.css';

.main_con_partn {
  font-family: 'Stolzl Reg';
  display: flex;
  width: 100%;
  overflow-x: scroll;
  gap: 20px;
}

.card {
  flex: 1;
  font-family: "Stolzl Reg";
  max-width: 100%;

  border-radius: 10px;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 20px;
  margin-top: 35px;

  background-color: #f4f9fe;
}

.title_card {
  font-size: 12pt;
  margin-bottom: 5px;
}

.title_balance {
  width: 100%;
  margin-top: 61px;
  padding-bottom: 35px;
  font-size: 25pt;
}

.balance_card {
  font-size: 24pt;
  margin-bottom: 5px;
}

.description_card {
  font-size: 8pt;
  color: #2c84ec;
  margin-bottom: 25px;
}

.button_block {
  display: flex;
  margin-bottom: 30px;
}

.output_button {
  width: fit-content;
  align-items: center;

  border-radius: 30px;

  background-color: #2c84ec;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  justify-content: space-between;
  display: flex;
  color: #fff;
  font-size: 11pt;
  margin-right: 5px;
}

.output_button img {
  margin-right: 10px;
}

.input_button {
  width: fit-content;
  align-items: center;

  border-radius: 30px;

  background-color: #2c84ec;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  justify-content: space-between;
  display: flex;
  color: #fff;
  font-size: 11pt;

  margin-left: 5px;
}

.input_button img {
  margin-right: 10px;
}

.container_status {
  width: 100%;
}

@media(max-width:450px) {
  .modal_mobile{
    width: 80% !important;
  }
  .main_con_partn {
    font-family: 'Stolzl Reg';
    display: flex;
    flex-direction: column;
    width: 100%;

  }

  .card {
    flex: 1 1;
    font-family: "Stolzl Reg";
    max-width: 100%;
    border-radius: 10px;
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 20px;
    margin-top: 0px;
    background-color: #f4f9fe;
  }

  .nav_bar .nav_cont {
    font-size: 12px;
    display: flex;
    font-family: "Stolzl";
    width: 100%;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid #96c2f6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #2c84ec;
    height: 34px;
    align-items: center;
  }

  .balance_card {
    font-size: 28px;
    margin-bottom: 5px;
  }

  .title {
    display: flex;
    width: 100%;

    font-size: 15pt;
    margin-bottom: 20px;
  }


  .title_balance {
    width: 100%;
    margin-top: 50px;
    padding-bottom: 0;
    font-size: 15pt;
    margin-bottom: 20px;
  }

  th,
  td {
    padding: 8px;
    text-align: left;
    /* font-family: Stolzl; */

    font-weight: 400;
  }
.status_table{
  overflow-x: scroll;
}
table{
  width: 1000px !important;
}
}